@if (hairdresserIds == null)
{
	<LoadingHandler />
}
else
{
	<div>
		<h1>Booking</h1>
		<br>
		<h3>Choose your favorite hairdresser!</h3>
		<br>
		<br>
	</div>

	

	<div>
		@foreach (var hairdresserId in hairdresserIds)
		{
			<div>
				<br />
				<Calendar HairdresserId="hairdresserId" Date="defaultCalendarDate" DurationInMinutes="DurationInMinutes"/>
				<br />

			</div>
			
		}

		
	</div>



}

@code {
	[Parameter]
	public int DurationInMinutes { get; set; }

	[Inject]
	public IHairdresserRepository HairdresserRepository { get; set; }

	private IEnumerable<int> hairdresserIds;


	private DateTime defaultCalendarDate = DateTime.Today;

	protected async override Task OnInitializedAsync()
	{

		this.hairdresserIds = await HairdresserRepository.GetHairdresserIds();

	}
}
