
<h3>Choose your service</h3>

<select @onchange="SetDuration">
	<option value="20">Haircut: Man</option>
	<option value="40">Haircut: Woman</option>
	<option value="20">Color: Short</option>
	<option value="40">Color: Long</option>
</select>


@code {
	// For child->parent communication
	public EventCallback<int> OnDurationChosen { get; set; }

	private int durationInMinutes;



	private void SetDuration(ChangeEventArgs e)
	{
		durationInMinutes = (int)e.Value;
		OnDurationChosen.InvokeAsync(durationInMinutes);
	}
}
