@page "/booking"

@if (dutationInMinutes == 0)
{
	<h3>Choose your service</h3>
	<select @bind="dutationInMinutes">
		<option value="20">Haircut: Man</option>
		<option value="40">Haircut: Woman</option>
		<option value="20">Color: Short</option>
		<option value="40">Color: Long</option>
	</select>
}
else
{
	<Booking DurationInMinutes="dutationInMinutes"></Booking>
}

@code {

	public int dutationInMinutes;
}
