@inject NavigationManager Navigation

<h1>Confirm Appointment</h1>

<p>Book @DateChoice, lasting @DurationInMinutes minutes.</p>

<button @onclick="() => AcceptAppointment()">Confirm</button>


@code {

	[Parameter]
	public int DurationInMinutes { get; set; }

	[Parameter]
	public int HairdresserId { get; set; }

	[Parameter]
	public int UserId { get; set; }

	[Parameter]
	public DateTime DateChoice { get; set; }

	[Inject]
	public IAppointmentRepository AppointmentRepository { get; set; }


	[Inject]
	public IUserHandler UserHandler { get; set; }




	private async void AcceptAppointment()
	{
		var startDate = DateChoice;

		await AppointmentRepository
			.AddAppointment(UserId, this.HairdresserId, startDate, startDate.AddMinutes(DurationInMinutes));

		Navigation.NavigateTo("/");
	}




	
}
