@if (Appointments == null)
{
	<LoadingHandler/>
}
else
{
	<h3>You have the follow appointments:</h3>

	<ul>
		@foreach (var app in Appointments)
		{
		
		var minutes = (app.EndTime - app.StartTime).TotalMinutes;
		<li><p>On @app.StartTime.Date.ToString("d"), at @app.StartTime.TimeOfDay, lasting @minutes minutes.</p></li>
		}
	</ul>
}




@code {

	[Parameter]
	public IEnumerable<Appointment> Appointments { get; set; }

}
