@page "/"

<PageTitle>Index</PageTitle>

<h2>Welcome to my booking website.</h2>
<br />
<AuthorizeView>
	<NotAuthorized>
		<p><a href="Identity/Account/Login">Sign in</a> to view your appointments.</p>
		<p><a href="Identity/Account/Register">Register</a> if you don't have an account.</p>
	</NotAuthorized>
	<Authorized>
		<DisplayAppointments/>
	</Authorized>
	
</AuthorizeView>




