

@if (userAppointments == null)
{
	<LoadingHandler/>
}
else
{
	<h3>UserAppointments</h3>

	foreach (var app in userAppointments)
	{
		<h3>@app</h3>
	}
}







@code {

	private int userId;

	private IEnumerable<Appointment> userAppointments;

	[Inject]
	public IUserRepository UserRepository { get; set; }

	[Inject]
	public IUserHandler UserHandler { get; set; }

	protected async override Task OnInitializedAsync()
	{
		userId = await UserHandler.GetCurrentUserId();
		Console.WriteLine($"userId: {userId}");

		userAppointments = await UserRepository.GetUserAppointments(userId);
	}
}
