Client now wants...
- users need to be able to book 40-minute appointments separately. ✔️
- users to be able to specify the type of appointment they're making, eg hair-colouring. ✔️
- employees to manually add bookings, given duration, name, hairdresserId, and a timeslot. ✔️
- users to be able to book appointments without having to make an account. ✔️
- employees to be able to manually remove appointments that were cancelled over the phone. 

Client found bugs...
- If someone booked a 40-minute appointment at 08:00, others can book a 20-minute appointment starting at 08:20.
	(Could make 40=20+20, but that could be problematic when displaying user-appointments.)
	Better approach: 
		- Make a list of all possible appointments. Count: 3*8*7=175-7=168
		- Remove from this list, filtering based on appointments 'a'. 
			Each 'a' has its own duration. 
		- Filter duration of Appointment in question. 
		- Use a HashSet
		

Test if... 
- multiple clients can connect properly simultaneously. 
- site responds properly to booking concurrency conflicts regarding confirmation. 